# Edit this file to reflect to location of the relevant files

################# VARS FOR DIRECTORY STRUCTURE ################################
BASEDIR=..
DATE=`date +%Y-%m-%d`
inputdir="$BASEDIR/01_input"
outputdir="$BASEDIR/03_output/"$DATE"_output"

################# PROGRAMS AND RUNTIME ARGS ################################
#Number of threads to use:
pthread=$2

#This is where the singularity container lives:
container="/projects/rtpw@colostate.edu/container_images/summitRNAseq.simg"

################# PATHS TO DATA ############################################

###########     used by fastp     ##########
suffix=".fastq.gz" # raw reads have this file extension

###########     used by hisat2    ##########
hisat2path="/projects/rtpw@colostate.edu/ce11_ERCC_merged/ce11_ERCC" # location+prefix of index files

########### used by samtools sort ##########
# genome sequence used with --reference flag (I have never needed this)
genomefa="/projects/dcking@colostate.edu/support_data/ce11/genome.unmasked.fa"

########### used by featureCounts ##########
# annotation
gtffile="/projects/dcking@colostate.edu/support_data/annotations/wormbase/c_elegans.PRJNA13758.WS263.canonical_geneset.gtf"
    
########## These aren't used in summitRNAseq_PE_analyzer.sh but would be fastp and featureCounts? ##########
# FASTA file for sequencing adapters
adapterfa="/projects/rtpw@colostate.edu/Adapter_Trimming_FASTAs/NEBNext_Ultra_II_Index_Primers.fasta"

# FASTA file for the ERCC spike in controls
erccfa="/projects/rtpw@colostate.edu/ce11_ERCC_merged/ERCC92.fa"

# GTF file for the ERCC spike in controls
erccgtf="/projects/rtpw@colostate.edu/ce11_ERCC_merged/ERCC92.gtf"
################# END OF PATHS TO DATA #####################################
